/*------------------------------------------------------------------------
| Style
------------------------------------------------------------------------*/
/*------------------------------------------------------------------------
| Content
------------------------------------------------------------------------*/
@import 'https://fonts.googleapis.com/css?family=Alegreya+Sans';
.def {
  background-color: #333;
}
/*------------------------------------------------------------------------
| fonts
------------------------------------------------------------------------*/
/*------------------------------------------------------------------------
| Globals
------------------------------------------------------------------------*/
body {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
/*------------------------------------------------------------------------
| Media
------------------------------------------------------------------------*/
/*------------------------------------------------------------------------
| Mixins
------------------------------------------------------------------------*/
/*------------------------------------------------------------------------
| Variables
------------------------------------------------------------------------*/
